.Container {
  text-align: center;
  font-weight: 300;
  width: 1920;
}
.Body {
  width: 480;
  background-color: red;
  height: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
